

/*  */
*{
    margin: 0;
    list-style: none;
}
body{
    font-family: 'Bitter', serif;

}

.btn{
   padding: 15px 15px; 
   background-color:rgb(216, 178, 74);
   font-size: 20px;
   color: aquamarine;
   border-radius: 5px;
}

.container{
    margin: 0 auto;
    width:90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 241, 241);
   
}
h3{
    color: rgb(55, 143, 219);
    font-size: 30px;
}
.details{
    text-align: center;
    padding-bottom: 20px;
    width: 500px;
    margin: 0 auto;
    padding: 0 40px;
}
i{
    font-size: 60px;
    color: antiquewhite;
}
/*  */

/* header */
#image{
    background-image:url("donation13.jpg") ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
   text-align: center;

}
h1{
    color: white;
    font-size: 60px;
    
}
.banner p{
    color: rgb(240, 232, 232);
    margin: 30px;
    width:600px
    
}
ul{
    display: flex;
    margin-bottom:  40px;

}
li{
    color: rgb(209, 142, 61);
    padding: 40px 20px;
    background-color: rgb(215, 237, 240);
    margin:10px;
    border-radius: 7px;
    font-size: 40px;
}
#inpt{
  width:500px;
  border-bottom: 2px solid black;
  padding: 20px 10px;
  border-left: none;
  border-top: none;
  border-right: none;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
#para{
    color: black;
}

/* card */
.plan-container{
    width: 100%;
}
.plan-container .para{
    padding: 50px 0;
}
.plan-container .para p{
    padding: 20px;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    background-color: rgb(134, 132, 129);
    padding:0px 3px;
    padding: 60px 10px;
    border-radius: 5px;
    box-shadow: 7px 8px 50px black;
    
}
.card p{
 margin:10px 0;
}
.card h4{
    padding: 20px 0 10px 0;
}
/*  */
#more .details h3{
    margin: 30px;
}
#email{
    padding: 70px 200px 70px 70px;
    background-color: cyan;
    border-radius: 9px;
    margin: 60px;
}
#email #input{
  margin-left: 70px;
  padding: 10px 4px;
  width: 200px;
  border: none;
  background-color: rgb(118, 211, 126);
  border-radius: 4px;
}
#email .bton{
    padding: 10px 40px;
    background-color: rgb(243, 70, 70);
    border: none;
    border-radius: 4px;
}
   

/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */